

.roster {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.roster label {
    text-align:left;
    display: block;
}

.roster  h2 {
    font-size: 20px;
    color: black;
    margin-bottom: 30px;
}

.roster input, .roster textarea, .roster select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.roster button {
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}