

.team {
    max-width: 400px;
    margin: 0 auto;
    text-align: left;
}

.team label {
    text-align:left;
    display: block;
}

.team  h2 {
    font-size: 30px;
    color: black;
    margin-bottom: 30px;
}

.team  h3 {
    font-size: 20px;
    color: black;
}

.team input, .team textarea, .team select {
    width: 100%;
    padding: 6px 10px;
    margin: 10px 0;
    border: 1px solid #ddd;
    box-sizing: border-box;
    display: block;
}

.team button {
    margin-bottom: 30px;
    background: #f1356d;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    margin-right: 10px;
}


.team.emailbutton  {
    background: #1c10b9;
    color: #fff;
    border: 0;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
}
